.modal {
  /* position: fixed; фиксированное положение */
  display: inline-block;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
/* при отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  /* overflow-y: auto; добавляем прокрутку по y, когда элемент не помещается на страницу */
  vertical-align: middle;
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  /* margin: 10px; */
}

@media(min-width: 0px){
  .modal-dialog {
    max-width: 100%;
    /* margin: 30px auto; для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  background-color: #68747d;
}
/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #292e34;
  background-color: #1abc9c;
  
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  /* font-size: 30pt; */
  color: #f4f0e6; 
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
  /* font-size: 20pt; */
}
.modal-buttons{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.modal-button{
    color: #f4f0e6;
    background-color: #1abc9c;
    width: 48%;
    height: 30pt;
    /* font-size: 27pt; */
    border: none;
}
.modal-payment{
    display: inline-block;
    width: 100%;
}
.modal-payment-type{
   width: 49.4%;
   float: left;

}

.inscription{
    /* font-size: 30pt; */
    padding-bottom: 20px;
    color: #efeadc;
    padding-left: 5pt;
}
#radio-card{
    transform: scale(1.7);
}
#radio-cash{
    transform: scale(1.7);
}