@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.windows {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.window {
  display: block;
  height: 30%; 
  width: 100%;
  background-color: #1abc9c;
}

#map {
  display: flex;
  height: 70%;
}

/* enter addresses page */
.pac-input {
  width: 100%;
  height: 25%;
  text-align: center;
  padding: 10px;
  background-color: #1abc9c;
}

.button {
  width: 100%;
  height: 25%;
  display: block;
  padding: 10px;
  border: 1px;
  border-radius: 10px;
  background-color: #1abc9c;
  color: beige;
}
.btn-success {
  background-color: #1abc9c;
  color: beige;
}

/* time above map */
.row {
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 25%;
  color: #f4f0e6;
  background-color: #68747d;
}
.row2 {
  padding: 10px;
  margin: 10px;
  width: 90%;
  height: 80%;
  background-color: #f4f0e6;
  color: #1abc9c;
  justify-content: center;
}

.column {
  float: left;
  width: 25%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  place-content: center;
  justify-content: center;
}


   /* time to select */
  .columnTime {
  float: left;
  width: 25%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  align-content: center;
}

.columnDate {
  float: left;
  width: 33.33%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: center;
}

.tenHeight {
  width: 100%;
  height: 7%;
  display: block;
  color: #9dd3a8;
  background-color: #f4f0e6;
  padding: 10px 10px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.mapEnd {
  width: 100%;
  height: 83%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.endAddress {
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 10px;
}

/* start address page */
/* .startAddress {
    width:100%;
    height : 50%;
    text-align: center;
    padding: 10px;
  } */
.startAdd {
  float: left;
  width: 70%;
  height: 100%;
  padding: 10px;
  margin: 0px;
  border: 0px;
  text-align: center;
}

.setTime {
  float: left;
  width: 30%;
  height: 100%;
  padding: 10px;
  margin: 0px;
  border: 0px;
  text-align: center;
}

.row1 {
  text-align: center;
  color: #f4f0e6;
}
.scedule--header{
  width: 100%;
  align-content: center;
  justify-content: center;
}

.select {
  width: 80%;
  height: 80%;
  text-align: center;
}

img {
  width: 100%;
  height: 90%;
}

.dropdown-menu {
  max-width: 50vw;
  background-color: #f4f0e6;
  background: linear-gradient(-180deg, #9dd3a8 13%, #f4f0e6 0%);
}
.dropdown-menu img {
  width: 100%;
  height: auto;
  background: #9dd3a8;
}

.bottomMenu {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Wrapper {
  position: absolute;
  width: 100%;
}
.textCars {
  display: inline-block;
}
.cars--content {
  align-items: center;
  justify-content: center;
  background-color: #68747d;
  color: #f4f0e6;
  display: inline-block;
  width: 50%;
  align-self: center;
  height: 100%;
  padding: 2% 18% 0 2%;
}
.comfort--content {
  background-color: #68747d;
  color: #f4f0e6;
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 14pt;
  padding: 5px;
  margin: 0px;
  overflow: hidden;
  word-break: break-all;
  padding: 5% 8% 0 0;
}
.comfort--color {
  background-color: #292e34;
}
.cars {
  background-color: #68747d;
  overflow: hidden;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  height: 100%;
}
.car--selected {
  background-color: #292e34;
}
.comfort {
  background-color: #68747d;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.FooterTwo {
  flex-grow: 1;
}
.FooterThree {
  display: inline-block;
  background-color: #1abc9c;
  width: 100%;
  flex-grow: 1;
}
.footer {
  background-color: #68747d;
  flex-grow: 3;
}
.FooterPrice {
  flex-grow: 1;
  text-align: left;
  font-size: 30pt;
  background-color: #68747d;
  color: #f4f0e6;
}
#btn_submit {
  border: 0;
  padding: 2.5%;
  margin: 0;
  width: 49.4%;
  background-color: #1abc9c;
  color: #f4f0e6;
  font-size: 18pt;
}
#btn_back {
  border: 0;
  padding: 2.5%;
  margin: 0;
  width: 49.4%;
  background-color: #1abc9c;
  color: #f4f0e6;
  font-size: 18pt;
}
.cars::-webkit-scrollbar {
  display: none;
}
.comfort::-webkit-scrollbar {
  display: none;
}
.bottomMenu div,
.bottomMenu button {
  height: 100%;
}
.cars--content img {
  align-content: rigth;
  position: relative;
}