<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DriveUp</title>
    <link rel="stylesheet" href="https://unpkg.com/reset-css/reset.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/left-nav-style.css" />
    <link rel="stylesheet" href="styles/orderFlowStyle.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<body>
    <div class="window window__main" id="DriveUp-menu" >
        <div>
            <input type="checkbox" id="nav-toggle" hidden />
                <nav class="nav">
                <label for="nav-toggle" class="nav-toggle" onclick></label>
                <ul>
                    <li><img class="logo-menu" src="images/LOGO2.png" /></li>
                    <li><a href="#1">Profile</a></li>
                    <li><a href="orderList.html">Orders</a></li>
                    <li><a href="#2">Plan</a></li>
                    <li><a href="#3">My bill</a></li>
                    <li><a href="#4">History</a></li>
                    <li><a href="Sasha.html">As Client</a></li>
                    <li><a href="#5">Settings</a></li>
                    <li>
                        <a href="login.html">Log Out</a>
                    </li>
                </ul>
                </nav>
        </div>
        <div id="map" v-if="window != 'feedback-message'">
        </div>
        <div class="window__after-order" v-if="window == 'after-order'"> 
            <div class="window__arrived">
                    <button type="button" @click="goToWindow('start-trip')">Arrived</button>
            </div>
        </div>
        <div class="window__start-trip" v-if="window == 'start-trip'">   
                <div class="window__arrived">
                        <button type="button" @click="goToWindow('end-trip')">Start trip</button>
                </div>
        </div>
        <div class="window__end-trip" v-if="window == 'end-trip'">        
                <div class="window__arrived">
                        <button type="button" @click="goToWindow('feedback')">End trip</button>
                </div>
        </div>
        <div class="window__end-trip" v-if="window == 'feedback'">         
                <div class="window__arrived">
                        <button type="button" @click="goToWindow('feedback-message')">Feedback</button>
                        <button type="button" @click="onMain()">On main</button>
                </div>
        </div>
        <div class="window__feedback" v-if="window == 'feedback-message'">
                <div class="window__feedback-form">
                    <span class="rating">
                    <input type="radio" name="star" id="star1" ><label for="star1">
                        </label>
                    <input type="radio" name="star" id="star2" ><label for="star2">
                        </label>
                    <input type="radio" name="star" id="star3"><label for="star3">
                        </label> 
                    <input type="radio" name="star" id="star4"><label for="star4">
                        </label>
                    <input type="radio" name="star" id="star5"><label for="star5">
                        </label>
                    </span>
                    <textarea name="comment" cols="32" rows="4"></textarea></p>
                </div>         
                <div class="window__arrived">
                        <button type="button" @click="onMain()">Send</button>
                </div>
        </div>
    </div> 

    
    <!-- Google Maps scripts. -->
    <script src="scripts/script2.js"></script>
    <script src="scripts/orderScript.js"></script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSfUc_q694PAWLY11x73iDPm6ADnFaVzI&ergion=ua&callback=createMap&libraries=places" async defer></script> -->
</body>
</html>